.App {
  text-align: center;
}

.header {
  background-color: #6c469c;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.6em;
  color: rgb(250, 250, 250);
}

.form {
  margin: 30px 0px 40px;
}

.form input,
.form select {
  background-color: white;
  border: 1px solid lightgray;
}

.input-primary,
.select-primary,
button {
  width: 200px;
  color: rgb(0, 0, 0);
  padding: 14px 12px;
  margin: 20px 0;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 4px;
  background-color: lightgray;
  margin-left: 10px;
}

.select-primary,
button {
  cursor: pointer;
  width: 230px;
}

table {
  font-size: 2.5em;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
/* .table-header th {
  width: 160px;                           hoe krijg ik met flex alles gecentreerd??? of width aanpassen ?????
} */

th, td {
  width: 180px;
  font-size: 0.8em;
  padding: 15px;
  margin-left: 30px;
  /* background: rgb(56, 22, 119); */
  color: black;
}

tr:nth-child(odd) td {
  background: rgb(150, 124, 199);
}

tr:nth-child(even) td {
  background: rgb(197, 184, 221);
}

.td-icon {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  width: 20px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.img-icon {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  width: 20px;
  height: 30px;
  margin-top: 5px;
  padding: 0px;
}

.table td:last-child{
  /* background-color: black; */
  background-color: white;
}
