.App {
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

.header {
  background-color: #6c469c;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  color: rgb(250, 250, 250);
  font-family: "Times New Roman", Times, serif;
}

.header h1 {
  margin: 5px 0px 12px;
}

ul {
  list-style-type: none;
}

.link-header {
margin-top: 15px;
}

a.link {
  font-size: 22px;
  color: black;
}

.about {
  margin-top: 40px;
}

.about-content {
  font-size: 1.3em;
  margin: 0 270px;
}

.form {
  margin: 15px 0px;
}

::placeholder {
  color: rgb(0, 0, 0);
}

button,
.input-primary,
.select-primary {
  width: 200px;
  padding: 14px 12px;
  margin: 20px 0;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 4px;
  background-color: lightgray;
  margin-left: 10px;
}

button,
.select-primary,
.filter select {
  cursor: pointer;
  width: 230px;
}

.form input,
.form select,
.filter select {
  background-color: white;
  border: 1px solid lightgray;
}


.filter select {
  margin: 0;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.85em;
}

input,
button {
  font-size: 1.1em;
}

table {
  margin-left: 25px;
}

.table-header th {
  font-size: 1.8em;
  width: 160px;
  padding: 5px;
  cursor: pointer;
}

th.sorted::after {
  content: "\2303";
  font-weight: 900;
  color: black;
  position: absolute;
  transform: translatey(4px);
  padding: 0 7px 0 7px;
}

th.desc::after {
  transform: rotate(180deg);
}

tr.filter td.white-td {
  background-color: white;
}

td {
  width: 180px;
  font-size: 1.2em;
  color: black;
}

tr td {
  height: 40px;
}

tr:nth-child(even) td {
  background: rgb(150, 124, 199);
}

tr:nth-child(odd) td {
  background: rgb(197, 184, 221);
}

.td-icon {
  width: 20px;
  padding: 0px;
  cursor: pointer;
}

.img-icon {
  width: 19px;
  margin-top: 5px;
}

.table td:last-child {
  background-color: white;
}
