.App {
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

.header {
  background-color: #6c469c;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  color: rgb(250, 250, 250);
  font-family: "Times New Roman", Times, serif;
}

.header h1 {
  margin: 5px 0px 12px;
}

.link-header {
margin-top: 15px;
}

a.link {
  font-size: 22px;
  color: black;
}

.about {
  margin-top: 70px;
}

.about-content {
  font-size: 1.3em;
  margin: 0 270px;
}

.form {
  margin: 15px 0px;
}

::placeholder {
  color: rgb(0, 0, 0);
}

button,
.input-primary,
.select-primary {
  width: 230px;
  height: 52px;
  box-sizing: border-box;
  padding: 14px 12px;
  margin: 20px 0;
  border: 1px solid rgb(139, 138, 138);
  border-radius: 4px;
  background-color: lightgray;
  margin-left: 10px;
  font-family: Verdana, Tahoma, sans-serif;
}

button,
.select-primary,
.table select {
  cursor: pointer;
}

.form input,
.form select,
.table select {
  background-color: white;
  border: 1px solid lightgray;
}

.table select {
  margin: 0;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.55em;
}

input,
button, select {
  font-size: 1.1em;
}

button {
  background-color: lightgray;
  border: 1px solid rgb(189, 183, 183);
}

select.select-primary {
  padding: 9px;
}

.table {
  margin-left: 25px;
  width: 100%;
}

.table-header th {
  font-size: 1.8em;
  max-width: 160px;
  padding: 6px;
  cursor: pointer;
}

th>span.sorted::after {
  content: "\2303";
  font-weight: 900;
  color: black;
  position: absolute;
  transform: translatey(4px);
  padding: 0 7px 0 7px;
}

th>span.desc::after {
  transform: rotate(180deg);
}

th>select {
  float: right;
}

th:nth-child(1n+3) {
  padding: 0 0.1em 0 2em;
}

td {
  width: 205px;
  font-size: 1.05em;
  color: black;
  padding: 0 10px;
  text-align: left;
}

tr td {
  height: 40px;
}

tr:nth-child(odd) td {
  background: rgb(150, 124, 199);
}

tr:nth-child(even) td {
  background: rgb(197, 184, 221);
}

.td-icon {
  width: 20px;
  padding: 3px;       
  cursor: pointer;
}

.img-icon {
  width: 20px;
  margin-top: 5px;
}

.table td:last-child {
  background-color: white;
}
