/* tables are not the same width, before the new select filters they had the same width !!!!!!!!! */

.App {
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

.header {
  background-color: #6c469c;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5em;
  color: rgb(250, 250, 250);
  font-family: 'Times New Roman', Times, serif;
}

.form {
  margin: 30px 0px 45px;
}

::placeholder {
  color: rgb(0, 0, 0);
}

button,
.input-primary,
.select-primary {
  width: 200px;
  padding: 14px 12px;
  margin: 20px 0;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 4px;
  background-color: lightgray;
  margin-left: 10px;
}

button,
.select-primary,
.filter select {
  cursor: pointer;
  width: 230px;
}

.form input,
.form select,
.filter select {
  background-color: white;
  border: 1px solid lightgray;
}

.filter select {
  margin: 0;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.85em;
}

input, 
button {
  font-size: 1.1em;
}

table {
  margin-left: 25px;
}

.table-header th {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.1em;
  width: 160px;
}

tr.filter td.white-td {
  background-color: white;
}

td {
  width: 180px;
  font-size: 1.2em;
  color: black;
}

tr td {
  height: 40px;
}

tr:nth-child(even) td {
  background: rgb(150, 124, 199);
}

tr:nth-child(odd) td {
  background: rgb(197, 184, 221);
}

.td-icon {
  width: 20px;
  padding: 0px;
  cursor: pointer;
}

.img-icon {
  width: 19px;
  margin-top: 5px;
}

.table td:last-child {
  background-color: white;
}
