.App {
  text-align: center;
}

.header {
  background-color: #6c469c;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.6em;
  color: rgb(250, 250, 250);
}

.form {
  margin: 30px 0px 40px;
}

.form input,
.form select {
  background-color: white;
  border: 1px solid lightgray;
}

.input-primary,
.select-primary,
button {
  width: 200px;
  color: rgb(0, 0, 0);
  padding: 14px 12px;
  margin: 20px 0;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 4px;
  background-color: lightgray;
  margin-left: 10px;
}

.select-primary,
button {
  cursor: pointer;
  width: 230px;
}

table {
  margin-left: 25px;
}

.table-header th {
  font-size: 1.5em;
  width: 160px;
}

hr {
  width: 60em;
  margin-top: 2em;
  margin-bottom: 1em;
}

tr.radio-buttons td.empty-td {
  background-color: white;
  padding-bottom: 0.8em;
}

label.filter-label {
  padding-right: 0.7em;
}

td {
  width: 180px;
  font-size: 1em;
  color: black;
}

tr td {
  height: 33px;
}

tr:nth-child(odd) td {
  background: rgb(150, 124, 199);
}

tr:nth-child(even) td {
  background: rgb(197, 184, 221);
}

.td-icon {
  width: 20px;
  padding: 0px;
  cursor: pointer;
}

.img-icon {
  width: 20px;
  margin-top: 5px;
}

.table td:last-child {
  background-color: white;
}
